ws.safemedia.com {
    # Proxy WebSocket traffic to your Node.js proxy
    reverse_proxy anttp_proxy:8081

    encode gzip

    log {
        output stdout
    }
}

anttp.safemedia.com {
    # Proxy all other traffic to AntTP Rust server
    reverse_proxy anttp_rust:18888

    encode gzip

    log {
        output stdout
    }
}

dweb.safemedia.com {
    # Proxy all other traffic to DWEB Rust server
    reverse_proxy dweb_server:5537

    encode gzip

    log {
        output stdout
    }
}
