ws.mydomain.com {

    # Proxy WebSocket traffic separately
    reverse_proxy anttp_server:8081

    encode gzip

    log {
        output stdout
    }

}

anttp.mydomain.com {

    # Proxy all other traffic to antTP Rust server
    reverse_proxy anttp_server:18888

    encode gzip

    log {
        output stdout
    }

}

dweb.mydomain.com {

    # Proxy all other traffic to DWEB Rust server
    reverse_proxy  dweb_server:5537

    encode gzip

    log {
        output stdout
    }

}
